body {
    padding: 0;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
    color: #3b3a1f;
    width: 900px;
    height: 100vh;
    background: #f5f5f5;
}

body header, body footer {
    background-color: black;
    width: 100%;
    height: 100px;
    color: white;
}

header h1 {
    float: left;
    padding: 10px;
}

body header nav {
    float: right;
}

body header nav ul li {
    display: inline;
    float: right;
    padding: 20px;
}

header nav ul li a {
    color: white;
}


img {
    width:150px;
}

figure {
    margin: 20px 0 0 0;
}

.flex-container {
    display: flex;
    flex-flow: row nowrap ;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    height: calc(100% - 390px);
}

.flex-container article {
    background: white;
    flex: 3 1 auto;
    align-self: auto;
    padding: 20px;
    overflow: auto;
    margin: 20px;
}

.flex-container aside {
    background: white;
    flex: 1 1 auto;
    align-self: auto;
    padding: 20px;
    overflow: auto;
    margin: 20px;
}

details {
    height: 100%;
    text-align: center;
    padding-top: 40px;
}

.sidebar li {
    padding: 10px;
}

.sidebar ul {
    padding: 20px;
}


.first-article {
    position: relative;
}

figure {
    position: absolute;
    top: 10px;
    right: 20px;
}

figcaption {
    text-align: center;
}

.second-article {
    margin: 0 20px 20px 20px;
    background: white;
    padding: 10px;
    height: 150px;
}